<div [formGroup]="parent">
  <div class="form-group" formGroupName="selector">
    <select formControlName="product_id" class="form-control">
      <option value="">Select Stock</option>
      <option *ngFor="let product of products" [value]="product.id">
        {{ product.name }}
      </option>
    </select>
    <input 
      class="form-control" 
      type="number"
      step="10"
      min="10"
      max="1000"
      formControlName="quantity">
      <button 
        class="btn btn-primary mt-2 mb-2" 
        type="button"
        (click)="onAdd()">Add stock</button>
  </div>
</div>