<!-- <div class="container">
  <div class="row">
    <div class="col-md-6">
      <app-auth-form
        (submitted)="createUser($event)">
        <h1 class="h3 mb-3 font-weight-normal">Create Account</h1>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Join Us</button>
      </app-auth-form>
    </div>
    <div class="col-md-6">
      <app-auth-form
        (submitted)="loginUser($event)">

        <h1 class="h3 mb-3 font-weight-normal">Login</h1>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>

        <div class="checkbox-btn">
          <app-auth-remember 
            (checked)="rememberUser($event)">
          </app-auth-remember>
        </div>
     </app-auth-form>

    </div>
  </div>
</div> -->


<div #entry></div>
<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <button class="btn btn-lg btn-danger btn-block mt-3" (click)="destroyComponent()">Destroy</button>
    </div>
    <div class="col-sm-6">
      <button class="btn btn-lg btn-secondary btn-block mt-3" (click)="moveComponent()">Reorder Components</button>
    </div>
  </div>
</div>

<ng-container [ngTemplateOutlet]="tmpl2"></ng-container>

<ng-template #tmpl2>
  Samir Ayoub : São Paulo BR
</ng-template>

<div #entryDynamicTemp></div>

<ng-template #tmpl let-foo let-location="location">
  {{ foo }} : {{ location }}
</ng-template>