<div class="container">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">

    <app-stock-branch 
      [parent]="form">
    </app-stock-branch>

    <app-stock-selector 
      [parent]="form" 
      [products]="products"
      (added)="addStock($event)">
    </app-stock-selector>

    <app-stock-products 
      [parent]="form"
      [map]="productMap"
      (removed)="removeStock($event)">
    </app-stock-products>

    <div> Total: {{ total | currency:'BRL' }}</div>

    <pre>{{ form.value | json }}</pre>
  </form>
</div>