<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="form-group" formGroupName="store">

    <label for="branch">Branch</label>
    <input formControlName="branch" type="text" class="form-control-file" id="branch">

    <label for="code">Code</label>
    <input formControlName="code" type="text" class="form-control-file" id="code">

    <button type="submit" class="btn btn-primary mb-2" [disabled]="form.invalid">Order Stock</button>
  </div>

  <pre>{{ form.value | json }}</pre>
</form>