<div class="container">
  <div class="row">
    <div class="col-md-6">
      
      <form class="form-signin" (ngSubmit)="onSubmit(form.value)" #form="ngForm">
        <img class="mb-4" src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal">{{ titleInjectedDinamically }} ola</h1>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input  #email type="email" class="form-control" placeholder="Email address" name="email" ngModel>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" class="form-control" placeholder="Password" name="password" ngModel>
        <div class="checkbox-btn">
          <app-auth-remember 
            (checked)="rememberUser($event)">
          </app-auth-remember>
        </div>
        <app-auth-message
          [style.display]="(showMessage ? 'inherit' : 'none')">
        </app-auth-message>
      
        <div *ngIf="showMessage">You will be logged in for {{message.days}} days</div>
      
      
        <button class="btn btn-lg btn-primary btn-block" type="submit">Join Us</button>
        <p class="mt-5 mb-3 text-muted">© 2017-2018</p>
      </form>

    </div>
  </div>
</div>


